#qrCodeColumn {
    text-align: center;
}

canvas#qrCode {
    width: 100%;
    height: auto;
}

#paymentExpiredMessage, #paymentPaidMessage, #paymentVerifyingMessage {
    text-align: center;
}

img#merchantLogo {
    width: 100%;
    display: block;
}

#paymentColumn {
    text-align: center;
}
.error_bitcoin {
	font-size:14px;
	color:#ea5037;
}

#paymentAddress {
    font-size: 16px;
    font-weight:bold;
}

#paymentButton a {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

#tradeLink {
    margin-top: 24px;
}

button#coinDropdownButton {
    padding: 6px;
    font-size: 21px;
    border-radius: 4px 0 0 4px;
}

.selectedCoinName {
    font-size: 21px;
}

#bitcoincontainer2 {
    text-align: center;
    display: inline-block;
    width: 95%;
    font-size: 15px;
    border: 1px solid #f9b0ad;
    padding: 10px;
    background: #f9b0ad;
    font-family: arial;
    color: #1d1b1b;
    margin-top: 15%;
}

.selectedCoinAmount {
    float: left;
    margin-top: 2px;
    border-radius: 1px;
    width: 94%;
    padding: 1px;
    margin: auto;
    border: 1px dashed #bbbaba !important;
    display: inline-block !important;
    margin-bottom: 6px;
}
#paymentColumn hr {
	    border: 0.5px solid #e3e3e3;
}


#bitcoincontainer2 img {
	width:60px
}

.selectedCoinAmount {
    display: inline-block;
    padding: 3px 12px;
    font-size: 18px;
    line-height: 48px;
    height: 62px;
    border: 1px #ccc dashed;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    margin-left: 0;
}

#btcOriginalPayment {
    font-size: 18px;
}

#timer {
	color:#0053a0;
}

#coinAmountFieldPlain {
    display: inline-block;
    border-radius: 4px;
    border: 1px #ccc dashed;
    padding: 6px;
}

#coinAmountFieldPlain .selectedCoinAmount {
    border: 0;
    padding: 0;
    height: auto;
    margin: 0;
}

img.coinLogoLarge {
    width: 48px;
    height: 48px;
    margin-right: 4px;
}

img.coinLogoSmall {
    width: 28px;
    height: 28px;
}

img.coinLogoDropdown {
    margin-right: 8px;
}

img#coinLoader {
    display: none;
    width: 48px;
    height: 48px;
    padding: 6px 7px;
    margin-right: 4px;
}

#scannerView {
    height: 426px;
    width: 568px;
}

.loadSpinner {
    height: 44px;
    width: 44px;
}

/* Non-large devices (xs, s, m) */
@media (max-width: 1199px) {
    #merchantLogoColumn {
        margin-bottom: 32px;
    }

    #merchantLogoColumn, #paymentAmountColumn {
        text-align: center;
    }
}

/* Extra small devices */
@media (max-width: 767px) {
    /* Add margin to stacked columns on smaller screens */
    #paymentExpiredMessage, #paymentPaidMessage, #paymentVerifyingMessage, #merchantLogoColumn {
        margin-bottom: 32px;
    }

    #merchantLogoColumn, #paymentAmountColumn {
        text-align: center;
    }

    /* Altcoin columns should not stack in columns on small devices */
    .coinColumns {
        height: 200px;
        overflow: scroll;
    }
}

/* Extra small and small devices */
@media (max-width: 991px) {
    .coinColumns {
        -moz-column-count: 1; /* Firefox */
        -webkit-column-count: 1; /* Safari and Chrome */
        column-count: 1;
        width: 166px;
    }
}

/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
    #paymentExpiredMessage, #paymentPaidMessage, #paymentVerifyingMessage {
        padding-top: 115px;
        height: 270px;
    }

    #paymentVerifyingMessage {
        padding-top: 65px;
    }

    #merchantLogoColumn {
        margin-bottom: 32px;
    }

    #merchantLogoColumn, #paymentAmountColumn {
        text-align: center;
    }
}

/* Medium devices */
@media (min-width: 992px) and (max-width: 1199px) {
    #paymentExpiredMessage, #paymentPaidMessage, #paymentVerifyingMessage {
        padding-top: 120px;
        height: 283px;
    }

    #paymentVerifyingMessage {
        padding-top: 70px;
    }

    .coinColumns {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2;
        width: 333px;
    }
}

/* Large devices */
@media (min-width: 1200px) {
    #paymentExpiredMessage, #paymentPaidMessage, #paymentVerifyingMessage {
        padding-top: 150px;
        height: 350px;
    }

    #paymentVerifyingMessage {
        padding-top: 100px;
    }

    .coinColumns {
        -moz-column-count: 3; /* Firefox */
        -webkit-column-count: 3; /* Safari and Chrome */
        column-count: 3;
        width: 500px;
    }
}

/* Small, Medium and large devices */
@media (min-width: 768px) {
    #qrCodeColumn {
        min-height: 263px;
    }
}

.bitcoin_timer{    display: inline-block;}
    
        #qrCodeColumn p img{width: 150px;    height: 150px;}
        img.coinLogoLarge {
    width: 28px  ! important;
            height: 28px ! important;}
        .selectedCoinName {
    font-size: 14px  ! important;}
        .selectedCoinAmount{line-height: 33px ! important;
    height:35px ! important;}
        
         .bc_wallet{width:100%;margin:0 auto;}
                .bc_wallet_img1{width: 100%;}
                .bc_wallet_img2{width: 100%;}
                .bc_wallet_img3{width: 100%;/* padding: 8px;padding-top: 4px; */}
       
         #paymentAmountColumn{width: 100% !important;float: right; text-align: center;display: inline-grid;}
            .selectedCoinAmount{    float: left;    margin-top:2px;}
            .bc_wallet a{float:left; width: 27%;}
         
     /* ----for mobile----*/  
    @media (max-width:300px){
            #qrCodeColumn{width: 100% ! important;}
            #paymentAmountColumn{width:100% ! important;}
            img.coinLogoLarge {
    width: 16px ! important;
    height: 16px ! important;
                }
            .selectedCoinAmount {
    line-height: 23px ! important;
    height: 36px ! important;
    font-size: 18px ! important;}
            .selectedCoinName {
    font-size: 12px ! important;
}
            button#coinDropdownButton {
    padding: 6px ! important;
                font-size: 16px ! important;}
            #paymentAddress {
                font-size: 11px ! important;}
        #qrCodeColumn p img {
    width: 106px;
            height: 106px;}
        .lead{margin-bottom: 0px ! important;}
        #qrCodeColumn p{margin-bottom: 0px ! important;}
        #qrCodeColumn hr {    margin-top: 10px ! important;margin-bottom: 10px ! important;}
        .bc_wallet{width:100%;margin:0 auto;}
        
                .bc_wallet_img1{    width: 55%;  margin: 6px;}
                .bc_wallet_img2{width: 55%;   margin: 6px;}
                .bc_wallet_img3{padding: 8px;  padding-top: 4px;  width: 52%;  margin: 6px;}
        .bitcoin-info{    font-size: 9px;}
            
        }
        .alert-success{
        	text-align:center;
        }
        .alert-warning{
        	text-align:center;
        }
        .alert-info{
        	text-align:center;
        }
         .content iframe{
	    height: 480px !important;
}