/**********************/
/* GENERIC BODY STYLE */
/**********************/

BODY
{
    /*font-family: Verdana;*/
    font-family: 'Montserrat', sans-serif !important;
    text-align: left;
    font-size: 10px;
    margin: 0px;
    cursor: default;
}

FORM
{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

INPUT
{
    cursor: pointer;
    border: 1px solid #c0c0c0;
    background-color: #ffffff;
    font-size: 10px;
    text-align: left;
    padding: 10px;
    vertical-align: text-bottom;
}

INPUT[type=radio]
{
    border: 0px solid #c0c0c0;
}

SELECT
{
    cursor: pointer;
    border: 1px solid #c0c0c0;
    background-color: #ffffff;
    font-size: 10px;
    text-align: left;
    padding: 0px;
    margin: -5px;
    margin-left: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

TEXTAREA
{
    cursor: pointer;
}

.indent1{padding-left: 0px;}
.indent2{padding-left: 30px;}



/**********************/
/* GENERIC BODY STYLE */
/**********************/

/***********************/
/* GENERIC LINK STYLES */
/***********************/
A IMG
{
    border: none;
}
A
{
    text-decoration: underline;
    color: #616161;
}
A:VISITED
{
    text-decoration: underline;
    color: #616161;
}
A:HOVER
{
    text-decoration: underline;
    color: #616161;
}
A:ACTIVE
{
    text-decoration: underline;
    color: #616161;
}
/***********************/
/* GENERIC LINK STYLES */
/***********************/

/*********************/
/* SPECIFIC SECTIONS */
/*********************/
.error /* error window - yellow based */
{
    background-position: 7px 50%;
    /*background-image: url(../img/icon_warning.gif);*/
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 25px;
    background-color: #fbffb5;
    border: 1px solid #ffe400;
    margin-bottom: 2px;
}

.tip /* tip window - orange based */
{
    padding: 5px;
    border: 1px solid #818181;
	font-size: 10px;
    background-repeat: repeat-x;
    background-color: #ffffff;
    border-top: 5px solid #818181;
}

.window /* generic window - gray based */
{
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    width: 100%;
}

.boxtext 
{
	font-size: 10px;
}

.barGray
{
    background-color: #818181;
    color: #f1f1f1;
    font-size: 10px;
    padding-left: 5px;
    height: 20px;
    /*font-weight: bold;*/
    /*border-bottom: 1px solid #ffffff;*/
    vertical-align: middle;
}

.barGray A
{
    color: #ffffff;
    text-decoration: none;
}

.barGray A:VISITED
{
    color: #ffffff;
    text-decoration: none;
}

.barGray A:HOVER
{
    color: #ffffff;
    text-decoration: underline;
}

.barGray A:ACTIVE
{
    color: #ffffff;
    text-decoration: none;
}

.barWhite
{
    background-color: #ffffff;
}

.barBlack
{
    background-color: #000000;
    color: #ffffff;
    font-size: 10px;
    padding-left: 5px;
    height: 20px;
    /*border-bottom: 1px solid #ffffff;*/
}

.barBlack A
{
    color: #ffffff;
    text-decoration: none;
}

.barBlack A:VISITED
{
    color: #ffffff;
    text-decoration: none;
}

.barBlack A:HOVER
{
    color: #ffffff;
    text-decoration: underline;
}

.barBlack A:ACTIVE
{
    color: #ffffff;
    text-decoration: none;
}

.merchantBar
{
    background-repeat: no-repeat;
    background-color: #2C292F;
    color: #ffffff;
    font-size: 10px;
    text-align: right;
    height: 20px;
    padding: 5px;
}

.merchantBar A
{
    color: #ffffff;
    text-decoration: none;
}

.merchantBar A:HOVER
{
    color: #ffffff;
    text-decoration: underline;
}

.crumb
{
    color: Silver;
}

.selectedcrumb
{
    color: White;
}

.footer /* footer style */
{
    text-align: center;
    font-size: 10px;
}

/* A required item within the forms. */
.required 
{
    background-color: #ffffff;
    color: #000000;
}

/* A required item within the forms. */
.Disabled 
{
    background-color: #E0D6D6;
    color: #000000;
}

.cardIcon /* front page card icon padding */
{
    padding: 1px;
}
/*********************/
/* SPECIFIC SECTIONS */
/*********************/

/*******************/
/* CONTENT SECTION */
/*******************/
.content
{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    /*background-image: url(../img/bg_graygradient.gif);
    background-repeat: repeat-x;*/
}

.content .title1
{
    font-size: 18px;
    letter-spacing: -1px;
    color: #000000; /* black */
}

.content .title2
{
    font-size: 18px;
    letter-spacing: -1px;
}

.content .formTable TD
{
    padding: 1px;
    /*border: 1px solid #f1f1f1;*/
}

.rowColoured /* coloured background item - light gray */
{
    /*background-color: #fafafa;*/
	font-size: 10px;
}
#asterisc{
	color:#E75400;
}

.rowColouredBox
{
	border-left:1px solid #C0C0C0; 
	border-right:1px solid #C0C0C0; 
	border-top:1px solid #C0C0C0; 
	border-bottom:1px solid #C0C0C0;	
	background-color: #ffffff;
	font-size: 10px;
}


.content .smallText
{
    font-size: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.content .mediumText
{
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.content .errorText
{
    padding-top: 2px;
    padding-bottom: 0px;
    font-size: 10px;
    color: #C60300;
}
/*******************/
/* CONTENT SECTION */
/*******************/

/*******************************/
/* GENERIC FORM ELEMENTS STYLE */
/*******************************/
.Checkbox INPUT
{
    border: none;
    vertical-align: middle;
}

.checkboxWithText LABEL
{
	padding-left: 5px;
}

.btnStd
{
    border: 1px solid #c0c0c0;
    background-color: #f5f5f5;
    background-image: url(../img/bg_btn.jpg);
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 0px;
}
/*******************************/
/* GENERIC FORM ELEMENTS STYLE */
/*******************************/

/* Style for the main div containing the controls in the masterpage. */
.mainDiv
{
   /* background-color: #ffffff;*/
}

/* Style for a full width table with no borders. */
.Table100
{ 
    width:100%;
    border:0px;
}

/* Style for a TD with width 100%. */
.TD100
{
    width:100%;
}

/* Style for the security padlock display. */
.Security
{
    border-left: 1px solid #ffffff; 
    padding-left: 4px; 
    padding-right: 4px;
    text-align:center;
}

/* Style for the language selection. */
.LanguageSelection
{
    padding-right: 5px;
}

/* Style for the div containing the table for the popup information windows. */
.PopUpInfoWindow
{
    position: absolute; 
    top: 65px; 
    left: 10px; 
    width: 80%; 
    padding: 10px; 
    padding-top: 2px; 
    padding-bottom: 2px; 
    display: none;
}    

/* Style for the table containing the popup information windows. */
.PopUpWindowTable
{
    padding: 5px;
    background-color: #fafafa;
    border: 3px solid #c0c0c0;
}

/* Style for the div containing the popup information windows. */
.PopUpDivStyle
{
    overflow: auto; 
    width:100%; 
    height: 200px
}

/* Style for the Close button TD within the popup information window. */
.PopUpInfoWindow .CloseButtonTD
{
    padding-left: 5px;
    vertical-align: top;
}

/* Style for the Close button image within the popup information window. */
.PopUpInfoWindow .ImgCloseButton
{
    cursor: pointer;
    vertical-align: top
}

/* Style width full width and height in percentages. */
.WidthHeight100
{
    width: 100%;
    height: 100%;
}

/* Style for images that are displayed within the popup information window. */
.PopUpInfoWindowImgTD
{
   padding: 5px;  
   text-align: center;
   border: 1px solid #c0c0c0;
}

/* Styles for display payments iframe in casino web site start.  */
#metolist_metodos_cuerpo {
    margin-top: -15px;
    overflow: hidden;
}
.cuadro_metodos_boton_seleccion_metodo {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 60px;
    left: 0;
        padding-top: 2px;
    padding-bottom: 15px;
    position: relative;
    text-align: left;
    width: 100%;
}
.selected_method_btn {
    background: #f1f0d3 none repeat scroll 0 0;
    border-bottom: 5px solid #bbb;
       border-right: 1px solid #d7d7d7;
    cursor: default;
    left: 0;
    margin: 0px 0 1px;
    padding: 0;
    width: 100%;
}
.cuadro_metodos_boton_seleccion_metodo img {
    border-radius: 10px;
}

/* .cuadro_metodos_boton_seleccion_metodo .txt {
    padding: 22px 0 0 100px;
    text-shadow: 0 -1px 0 #fff;
} */
.contenido #metolist_detalle_metodos {
    padding: 10px 7px;
}
.unselected_method_btn{
	background: #ddd none repeat scroll 0 0;
    border-bottom: 5px solid #bbb;
}

@media (max-width:480px){
	.formTable tbody tr:nth-child(11) td{    text-align: left;}
	
}

@media only screen 
  and (min-device-width:320px) 
  and (max-device-width:800px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	
  .cuadro_metodos_boton_seleccion_metodo {
   width: 25% !important;
    height: 60px;
    display: inline-block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
    left: 0px;
    color: #333333;
    position: relative;
    background: none;
    border: none;
    padding: 0px 0px 0px 6px;
    border-radius: 0px !important;
 }
 
      
.secmet-title{display: none;width:100%; width:100%;margin:0;padding:0;}
.hd{ width:100%;margin:0;padding:0;left:0px;}
.more{margin:3px 0;padding-right:4px;padding: 0px;width:100%;background:#0c0c0c;border-radius:6px 0 0 6px;border-bottom: 1px solid #bbb;}
.more h2{margin:0;padding:5px 0 5px 30px;width:100%; color:#FFF;height:20px;line-height:20px;font-size:14px;}
.bd div{display:inline;width:25%;  padding:0;cursor: pointer; border-radius: 0px; background-color: #333;}
.bd img{float:left;padding:5px;}
    .acordion{margin-left:0px; float:left; width:100% ; margin-top:28px; margin-bottom: 25px;}
    .deposit-btn{width: 25% !important; float: right;}
    .txt{width: 25% !important;
    	padding: 22px 14px !important;
    	 float: left;
    	  color: #fff;
    	   text-shadow: none !important;
    }
    img{width: 83px;}
     img.quick_dep {   
        width: 80px !important;
    height: 59px;
    border-radius: 0px !important;
   
    }
      .acc_str {
          width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
      	
      }
      .ui-accordion-icons .ui-accordion-header a{padding-left: 0px;    font-size: 15px;
    padding: 8px;}
      .ui-icon{display: none}
      .bd .selected_method_btn:hover, .bd .unselected_method_btn:hover {
    background: #333;
}

.selected_method_btn::after {
     content: '';
    position: absolute;
    left: 36%;
    top:58%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 12px solid #c90038;
    clear: both;
 
 }

}
 