img{
	image-rendering: -moz-crisp-edges;         /* Firefox */
image-rendering:   -o-crisp-edges;         /* Opera */
image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

}
.featu div {background: url(../img/featuredgame.png) left top no-repeat;position: absolute;top: -2px;left: -2px;}
/* METODOS CONTENEDOR */
#metodos_contenedor_metodos_de_pago {margin: auto;position: relative;display: none;}
#metodos_contenedor_metodos_de_pago.visible {display: block;}
#metodos_contenedor_metodos_de_pago.hidden {display: none;}
#metodos_contenedor_botones_ppal {position: absolute;top: -65px;left: 0px;width: 888px;}
/* METODOS LISTADO */
#metolist_metodos_cuerpo {overflow: hidden;margin-top: -15px;}
#metolist_seguridad_cuerpo, #metolist_comparar_cuerpo {margin-top: -5px;}
/* CUADRO METODOS BOTON */
.cuadro_metodos_pago_solapa_p {cursor: pointer;z-index: 100;}
.cuadro_metodos_pago_solapa_activa_p {cursor: default;z-index: 200;}
#cuadro_metodos_pago_solapa_metodos_p {left: 25px;}
#cuadro_metodos_pago_solapa_comparar_p {left: 266px;}
#cuadro_metodos_pago_solapa_seguridad_p {left: 598px;}
#cuadro_metodos_pago_solapa_retiros_p {left: 507px;}
#cuadro_blanco_over_block_zindex{position:absolute;top:65px;left:20px;width:685px;height:45px;background-color:#ccc;z-index:150;}
[data-id="109"] {padding-top:0px !important;}
.cuadro_metodos_boton_seleccion_metodo:first-child {margin-left:0px;}
.cuadro_metodos_boton_seleccion_metodo.selected_method_btn{position:relative;text-align:center;width:100%;background:#aeaeff!important;border:3px solid #2d2383!important; box-shadow: 0 0 5px #8071ff;}
.main-container{margin:auto;background:#fff;border:3px solid #a09f9f;padding:30px;border-radius:3px;width:77%;margin-top:25px;}
#deposit_main_div {width: 99.8%;margin-bottom: 20px;margin: 0;border: 0;}
/* -- estilos de contenedores de info mostrados al cliquear en metodos -- */
#idform {padding-left: 0px;width: 50% !important;margin: auto !important;}
.make_deposit_button {cursor: pointer;font-weight: bold;display: inline !important;padding:0;width: 113px;height: 36px;}
.make_deposit_button {cursor: pointer;font-weight: bold;display: inline !important;padding:0;width: 113px;height: 36px;}
#metolist_detalle_metodos .hide a {color: #8FACF1;font-weight: bold;}
#metolist_detalle_metodos .hide a:hover {color: #FF6600;}
#metolist_detalle_metodos .hide {background: none !important;padding: 3px 10px !important;color: #333333 !important;}
#metolist_detalle_metodos p {text-align: left;margin-top:0;}
.bkd-mdp-deposit {border-color: #999 !important;height: auto !important;}
.bkd-mdp-deposit div.trader {float: none !important;}
.bkd-mdp-deposit div.tradiz{float:none!important;width:362px!important;background-color:#fefefe;border:1px solid #cecece;padding:20px;margin-bottom:15px;overflow:auto;}
.hide table {width: 100%;}
.elem_right_align_submit {text-align: right;}
.md-form.top .elem_right_align_submit {margin: 0;margin-top: 25px;}
.md-form.top table .elem_right_align_submit input.make_deposit_button {margin-top: 25px;}
.md-form .elem_right_align_submit {text-align: center!important}
.content_trad_outdep {margin-left: 15px;margin-right: 15px;margin-top: 5px;}
.tradiz_outdep {border-top: 1px dotted #999999;padding-top: 3px;font-weight: bold;margin-top: 5px;}
.trader_outdep {text-align: right;}
.ico_preff_meth {position: absolute;right: 80px;top: 16px;width: 58px;}
/*--------------- PANTALLA COMPARAR ----------------*/
#metolist_comparar_cuerpo p, #metolist_metodos_comparar p {color: #555555;margin: 0 25px;padding: 25px 0;}
.tablapay {width: 780px;margin: auto;border: 1px solid #BFD3FF;font-family: 'Montserrat', sans-serif !important;font-size: .8em;}
.tablapay thead tr td {font-weight: bold;background-color: #C2D1EF;padding: 3px;color: #0D3A6F;font-size: 13px;}
.tablapay tbody tr td {padding: 3px;color: #303030;font-size: 12px;}
/* ------------------------------- */
.p-upper-description-methods a {color: #96c0ff !important;text-decoration: none;font-size: 1em;font-weight: normal!important;}
.p-upper-description-methods a:hover {color: #dc6f37 !important;text-decoration: underline;}
.p-upper-description-methods a:link {font-weight: normal!important;}
.logos_metodos_small {margin-bottom: 20px;display: table;}
/* general */
.no-show {display: none!important;}
/*---------------------------------- Estilos print -----------------------------------*/
.rightimgcls{display: block;width: 40%;float: right;margin-right: 0;margin-top: -15px;}
@media print {
	*{background: transparent !important;color: #444 !important;text-shadow: none;}
	a, a:visited {color: #444 !important;text-decoration: underline;}
	a:after {content: " (" attr(href) ")";}
	abbr:after {content: " (" attr(title) ")";}
	.ir a:after {content: "";}
	/* Don't show links for images */
	pre, blockquote {border: 1px solid #999;page-break-inside: avoid;}
	img {page-break-inside: avoid;}
	p, h2, h3 {orphans: 3;widows: 3;}
	h2, h3 {page-break-after: avoid;}
}
.noactive h2 {cursor: pointer;}
.active h2 {cursor: pointer;}
.noactive h2:hover {border-radius: 6px 0 0 6px;width:90%;}
.active h2:hover {border-radius: 6px 0 0 6px;width:90%;}
.tabpay {padding: 0px;border: 0;height: 25px;background: none;margin: 0;}
.tabpay.red {padding: 0px;border: 0;height: 25px;background: none;margin: 0;}
.tabpay a {display: block;height: 100%;background: #282828 ;padding: 5px 13px;font-size: 15px;color: #fff;display: block;white-space: nowrap;text-shadow: none;}
.tabpay.red a {display:block;height:100%;background:yellow;height:25px;font-size:15px;color:#000;padding:10px 0 0;font-size:14px;line-height:13px;}
.tabpay a:hover {background: #000;color: #fff;text-shadow: 0px -1px 0px #333;text-decoration: none;display: block;}
.bd .selected_method_btn:hover, .bd .unselected_method_btn:hover {background: #ffc60c;}
.contenido #metolist_detalle_metodos {padding:0;}
h3 {font-size: 20px;border-bottom: 1px dotted #ccc;width: 100%;display: block;line-height: 18px;}
h4 {font-size: 16px;color: #900;}
.cuadro_metodos_boton_seleccion_metodo img{border-radius:0px;text-align:center;display:block;margin:0 auto;width:100%;max-width:50%;position:relative;vertical-align:middle;}
.cuadro_metodos_boton_seleccion_metodo:first-child img {max-width:55%;}
.cuadro_metodos_boton_seleccion_metodo .txt {text-shadow: 0px -1px 0px #fff;padding: 22px 0 0 100px;}
.deposit_leftdiv{width:32%;margin-left:0;display:inline-block;vertical-align:top;height:auto;overflow-y:auto;box-sizing:border-box;background: #09113f;border: 1px solid #27316a;}
#metodos_contenedor_metodos_de_pago{width:67%;height:auto;border:0;display: inline-block !important;}
#metolist_metodos_cuerpo{margin-top:0;}
.cuadro_metodos_boton_seleccion_metodo{border-color:#fff;border-style:solid;border-width:0 0 1px 0;background:#fff;border-radius:8px;height:auto;cursor:pointer;box-sizing:border-box;padding:6px 0;width:auto !important;margin: 10px;}
.more.ui-state-active{background: #cecece; }
.ui-accordion-content-active .selected_method_btn{border-left:1px solid gray!important;border-right:1px solid white!important;border-bottom:0.5px solid gray;border-top: 0.5px solid gray;}
#metolist_detalle_metodos{    border:none}
.more{background: #09113f !important;margin: 0px;padding: 1px 11px 1px 17px;border: 1px solid #27316a;width: 100%;box-sizing: border-box;color: white;}
.cuadro_metodos_boton_seleccion_metodo img {width:21% !important;max-width:100% !important;}
[data-id="133"] img { width:65% !important;}
[data-id="121"] img { width:70% !important;}
[data-id="122"] img {width: 90% !important;}
[data-id="112"] img {width:48% !important;padding-top:5px;border-radius: 0px !important;}
[data-id="112"].Wallets img { width:95% !important; }
[data-id="116"] img {width: 78% !important;border-radius: 0px !important;}
[data-id="142"] img {width: 58% !important;}
[data-id="143"] img {width: 50% !important;}
[data-id="135"] img {width: 55% !important;}
#idform {width: 100%;margin: auto;background: #ffffff;padding:12px !important;border-radius: 3px;box-sizing: border-box;}
.qr_scan img {max-width: 100%;}
.flx_box{
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	align-items: flex-start;
}
.flx_box .qr_scan{width: 40%;}
.pay_right_form{
	margin-left: 10px;
	width: 55%;
}
.pay_right_form p{
	color: #fff !important;
    font-size: 14px !important;
    font-weight: 600;
}
@media screen and (min-width:200px) and (max-width:600px) {
	.rightimgcls{margin-top:-10px;}
	.cuadro_metodos_boton_seleccion_metodo {width: calc(33% - 6px)!important;display: inline-flex;vertical-align:top;margin-bottom:5px;height:55px;margin-right:3px;}
	.cuadro_metodos_boton_seleccion_metodo{padding: 0px;}
	.cuadro_metodos_boton_seleccion_metodo {border-color: #0c4185;border-style: solid;border-width: 1px 1px 1px 1px;}
	.rightside_inner {padding: 0 0px !important;}
	.cuadro_metodos_boton_seleccion_metodo img{width:95%!important;max-width:100%!important;display:block;box-sizing:border-box;line-height:25px;border-radius:0!important;}
	.selected_method_btn::after{border-top: 0px none;}
	.selected_method_btn {border: 2px solid #242675 !important;background: #fff !important;}
	.contenido #metolist_detalle_metodos { margin-top:5px !important; }
	.deposit_leftdiv {width: 100% !important;margin-top: 2px;height: auto !important;}
	#deposit_main_div {width: 98%;border: none;margin: auto;}
	#metodos_contenedor_metodos_de_pago {width: 100%;}
	[data-id="111"] img {width:53% !important;}
	#metolist_metodos_cuerpo {margin-top: -7px !important;}
	#idform {width: 100%;margin: auto;background: #ffffff;padding:0px !important;border-radius: 3px;box-sizing: border-box;}
	.col-two{width:100%;margin-right:0}
	.content .text_quickbits p {line-height: normal;margin-top:12px !important;font-size: 15px !important;}
}
@media screen and (min-width:601px) and (max-width:760px) {
	.cuadro_metodos_boton_seleccion_metodo{width:calc(20% - 8px)!important;margin-top:7px;margin-right:4px;border:1px solid #0c4185;box-sizing:border-box;border-radius:3px!important;display:inline-flex;height:80px;padding:5px;}
	.cuadro_metodos_boton_seleccion_metodo{padding: 0px;}
	.cuadro_metodos_boton_seleccion_metodo img {width: 90% !important;max-width: 100% !important;padding-top: 4px;}
	.selected_method_btn::after{border-top: 0px none;}
	.selected_method_btn {border-bottom: 5px solid #4ea351 !important;}
	.cuadro_metodos_boton_seleccion_metodo:first-child img {padding-top:8px;}
	.deposit_leftdiv {width: 100%;margin-top: 2px;height:auto;}
	#metodos_contenedor_metodos_de_pago {width: 100%;}
	#metolist_metodos_cuerpo {margin-top: -7px !important;}
}
@media (max-width:860px) {
	.flx_box .qr_scan {
		width: 40%;
	}
	  .pay_right_form {
		margin-left: 0;
		width: 55%;
	}
  }
@media (max-width:767px){
	.qr_scan img {display: block;margin: 0 auto;max-width: 100%; width: 100%;}
	.cuadro_metodos_boton_seleccion_metodo.selected_method_btn{min-height: auto;}
	.cuadro_metodos_boton_seleccion_metodo img {width: fit-content !important;}
	[data-id="143"] img {width: auto !important;}
	[data-id="142"] img {width: auto !important;}
	.mb-text-center{text-align: center !important;}
	.mb-text-center a{display: block;}
	.flx_box .qr_scan{width: 100%;}
.pay_right_form{
	margin-left: 0;
	width: 100%;
}
}
@media screen and (min-device-width:765px) and (max-device-width:992px) { 
	.deposit_leftdiv {width: 100%;margin-left: 8px;display: inline-block;vertical-align: top;margin-top: 0px;}
	.selected_method_btn {border-bottom: 3px solid #4ea351 !important;padding-top: 0px;position: relative;text-align: left;}
	#metodos_contenedor_metodos_de_pago {width:100%;}	
	.cuadro_metodos_boton_seleccion_metodo{background:#e2e2e2;border:1px solid #d7d7d7;width:calc(20% - 8px)!important;margin-top:7px;margin-right:4px;border:1px solid #d7d7d7;box-sizing:border-box;border-radius:3px!important;display:inline-flex;height:80px;padding:5px;vertical-align:top;}
	.cuadro_metodos_boton_seleccion_metodo img {width:85% !important;max-width:100% !important;padding-top: 6px;}
	[data-id="118"] img { width:65% !important; }
	.selected_method_btn::after{border-top:none;}
	.selected_method_btn{border-bottom:4px solid #4ea351!important;padding-top:0;position: relative;text-align: left;margin:0px;}
	.more { display:none; } 
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.cuadro_metodos_boton_seleccion_metodo{background:#e2e2e2;border:1px solid #d7d7d7;width:calc(20% - 8px)!important;margin-top:7px;margin-right:4px;border:1px solid #d7d7d7;box-sizing:border-box;border-radius:3px!important;display:inline-flex;height:80px;padding:5px;}
	[data-id="118"] img { width:65% !important; }
	.cuadro_metodos_boton_seleccion_metodo img {width:85% !important;max-width:100% !important;padding-top: 6px;}
	.selected_method_btn {border-bottom:4px solid #4ea351 !important;position: relative;text-align: left;display:inline-flex;}
	.more{display:none;}
}
@media screen and (max-width: 360px) {
	.deposit_leftdiv {width: 100% !important;margin-top: 2px;height: auto !important;    overflow: hidden;}
	.rightside_inner {padding:0 0px !important;}
	.cuadro_metodos_boton_seleccion_metodo{width: calc(46% - 6px)!important;display: inline-flex;vertical-align: top;margin-bottom: 5px;height: 70px;margin-right:0; border-radius: 4px !important;} 
}
@media screen and (max-width:600px) and (orientation : landscape) {
	.cuadro_metodos_boton_seleccion_metodo {width: calc(20% - 6px)!important;display: inline-flex;vertical-align: top;margin-bottom: 5px;height: 55px;margin-right: 3px;} 	 
	
}

.qrbtn {
    background: #ff992e;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    color: #fff !important;
    text-decoration: none;
    margin: 10px auto;
    border-radius: 3px;
}

